- if user_signed_in?
  .well.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header Manage
      - if current_user.has_role? :admin
        %li= link_to('Users', users_path)
      %li= link_to "Items", items_path
      -#%li= link_to "Assets", assets_path
      %li= link_to "Routines", routines_path